NODE_ENV=development
PORT = 4000
DATABASE_URL=postgres://username:password@host:port/db
HASH_PASSWORD_COST=2
HASH_PASSWORD_ALGORITHM=bcrypt
REDIS_URL=redis://user:password@host:port/db
SEED_USER_USERNAME=Admin
SEED_USER_EMAIL=admin@example.com
SEED_USER_PASSWORD=Password123!
